@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&display=swap");

/************RIGHT TITLE**********
**********************************/

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

#title {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  transition: ease-out 425ms;
  letter-spacing: 4px;
  z-index: 0;
  margin: 0 auto;
}

#name {
  font-size: 75px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  grid-column: 1 / 5;
  text-align: center;
}

#bio {
  font-size: 50px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  grid-column: 1 / 4;
  text-align: center;
  margin-top: 3rem;
}

span {
  color: silver;
}

span + #cursor {
  font-size: 55px;
  color: rgb(251, 235, 235);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#menu-items:hover ~ #title {
  opacity: 0;
}
/*@#@#@#@#@#@#            #@#@#@#@#@#@#@#@#
@#@#@#@#@#@#@# LEFT MENU @#@#@#@#@#@#@#@#@#@#@#@ 
************************************************/

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
  will-change: position;
  margin: 0 auto;
}

.menu-item {
  color: white;
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: ease-in 210ms;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 10vw);
  position: relative;
  z-index: 2;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

/*%*%*%*%*
          Menu Background (gradiant and image)
          ************************************
           % * # @ ! * $ # (@ ! # _ ) ( & $ 
                                              %*%*%*%*%*/

#menu-background-pattern {
  height: 100vh;
  width: 100vw;

  background-image: radial-gradient(
    rgba(2255, 255, 255, 0.1) 7%,
    transparent 13%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  transition: opacity 800ms ease, background-position 800ms ease,
    background-size 800ms ease;
}

#menu-background-image {
  height: 100%;
  width: 100%;

  background-image: url("https://images.unsplash.com/photo-1536318431364-5cc762cfc8ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;

  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: 110vmax;
  opacity: 0.15;

  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

/* Positioning grid using JS indexes *********/
/********************************************/
/*******************************************/

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

/******MEDIA-QUERIES**********/

@media (max-width: 1070px) {
  #name {
    font-size: 60px;

    grid-column: 1 / 4;
  }

  #bio {
    font-size: 35px;
    grid-column: 2 / 3;
  }

  #menu {
    margin-left: 1rem;
  }

  span + #cursor {
    font-size: 35px;
  }

  .menu-item {
    font-size: 3.5rem;
  }
}

/*********** mobile layout ***********/

@media (max-width: 896px) {
  #menu {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  #menu-items {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1 / 4;
  }
  .menu-item {
    font-size: 16px;
    padding: 0;
    margin: 0 2rem;
    width: 20%;
  }
  #menu-background-pattern {
    display: none;
  }
  #menu-background-image {
    display: none;
  }
  #title {
    margin: 0 auto;
    grid-column: 1 / 2;
  }

  #bio {
    grid-column: 2 / 3;
  }

  #name {
    grid-column: 1 /4;
  }
}
